<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/template" id="hello-tpl">
        <div>
            <% if(true){%>
            Hei, my name is <%=name%>, and I'm <%=age%> years old.;
            <% } %>
            <% for(var i=0;i<data.persons.length;++i){%>
            <li>
                <label>name:</label><%=persons[i].name%>
            </li>
            <%}%>
        </div>
    </script>

</head>
<body>
<div id="container">

</div>
<script src="../src/template-engine.js"></script>
<script src="test01.js"></script>
</body>
</html>